parameters:
    level: 8
    paths:
        - src
        - wp-nerve.php
        - uninstall.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue

